@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Nabla";
    src: url(../src/assets/fonts/Nabla.ttf);
}

@font-face {
    font-family: "League";
    src: url(../src/assets/fonts/League.ttf);
}

@font-face {
    font-family: "South";
    src: url(../src/assets/fonts/South.ttf);
}

@font-face {
    font-family: "Start";
    src: url(../src/assets/fonts/Start.ttf);
}

@font-face {
    font-family: "Bangers";
    src: url(../src/assets/fonts/Bangers.ttf);
}

@font-face {
    font-family: "JetBrains";
    src: url(../src/assets/fonts/Jet/JetBrainsMono-Regular.ttf);
}

.menuButtons {
    position: fixed;
    border-radius: 9999px;
    height: 2rem;
    width: 2rem;
    right: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 0.5rem;
    transition-duration: 300ms;
    top: 0.25rem;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
    background-color: white;
    padding: 0.5rem;
    
}

html{
    scroll-behavior: smooth;
}

.varv {
    background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
}
